{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "node": true,
    "browser": true,
    "es6": true
  },
  "rules": {
    "strict": 1,
    "indent": ["error", 2]
  },
  "plugins": [
    "jsx-a11y"
  ],
  "root": true
}
